*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "open sans", sans-serif;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-large{
    max-width: 63%;
}

.box-slim{
    max-width: 55%;
    /* margin: 0 auto; */
}

button{
    background-color: #0060ff;
    color: white;
    border: none;
    padding: .5rem 1rem;
    font-weight: bold;
}

/* Header */
header{
    width: 100%;
    height: 83px;
    padding: 2rem 1rem;
}

.header-nav{
    justify-content: space-between;
    width: 100%;
}

.header-nav>div{
    width: 30%;
}

.nav-info{
    justify-content: flex-start;
}

.header-nav>div>ul{
    gap: 3rem;
}

.nav-login{
    justify-content: flex-end;
}

/* Main - Jumbotron */
.jumbotron{
    background-color: #b4d0e7;
    padding-top: 5rem;
}

.jumbotron-content{
    flex-wrap: wrap;
}

.jumbotron-content h1{
    width: 100%;
    padding-bottom: 3rem;
    font-size: 5rem;
}

.jumbotron-trial{
    width: 30%;
    font-size: 1.1rem;
    align-self: flex-start;
    align-items: flex-start;
}

.jumbotron-trial>button{
    margin: 3rem 0;
}

.jumbotron-trial>i{
    font-size: 4rem;
    margin-top: 5.5rem;
    justify-self: flex-end;
}

.jumbotron-pic{
    width: 70%;
}

.jumbotron-pic>img{
    width: 100%;
}

/* Main - Subscription Plans */

.subscription-plans{
    padding: 3rem 0;
}

.subscription-plans>h1{
    align-self: flex-start;
    font-size: 2rem;
}

.payments-selection{
    align-self: flex-start;
    padding: 3rem 0;
    gap: 3rem;
}

.plans-tabs{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.plan-head{
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    border-bottom: lightgray solid 1px;
}

.plans-tabs>article{
    align-items: flex-start;
    width: calc((100% / 3) - 2rem);
    border: lightgray solid 1px;
    padding-bottom: 2rem;
}

.article-content{
    align-items: flex-start;
    padding: 0 1.5rem;
}

.plans-tabs>article h2{
    padding-top: 2rem;
}

.plans-tabs>article .price{
    padding: 1rem 0;
}

.plans-tabs>.plan-team{
    width: 100%;
}

.plans-tabs>article ul{
    padding: 2rem 0;
}

.plan-features li{
    margin-bottom: 1rem;
}

.plan-team{
    flex-wrap: wrap;
    margin-top: 4rem;
}

.plan-team>.plan-head{
    width: 100%;
}

.plan-team>.article-content{
    gap: 5rem;
}

.plan-team>.article-content>button{
    align-self: center;
}

.plan-team>.article-content>ul{
    padding: 0;
    width: 70%;
}

.plan-team>button{
    width: 30%;
}

.free-trial{
    margin-bottom: 2rem;
    width: 75%;
    align-self: center;
}

/* Main - Partners */

.partners{
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 0;
}

.partners-img{
    width: 60%
}

.partners-img>img{
    width: 100%
}

.partner-contact{
    width: 35%;
    margin-top: 4rem;
    padding-right: 4.3rem;
}

.partner-contact>p{
    margin: 2rem 0;
}

.partner-contact>button{
    background-color: white;
    color: black;
    border: black solid 1px;
}

/* Main - dropbox-business */

.dropbox-business{
    flex-wrap: wrap;
    justify-content: space-between;
}

.dropbox-business>h1{
    width: 100%;
    font-size: 2.5rem;
    margin-top: 5rem;
}

.business-feature{
    width: calc((100% / 3) - 2rem);
    margin-top: 3rem;
}

.business-feature>p{
    margin-top: 2rem;
}

.feat-img img{
    width: 100%;
}

/* Main - business-clients */

.clients-header{
    max-width: 70%;
    align-self: flex-start;
    align-items: flex-start;
    margin: 10rem 0 7rem;
}

.clients-header>h1{
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 700;
}

.client-belt{
    justify-content: flex-start;
    width: 100vw;
}

.client-square{
    position: relative;
    width: calc(100% / 2);
    padding-top: 50%;
}

.client-logo{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.clients-box img{
    width: 50%;
}

.clients-box{
    flex-wrap: wrap;
    width: 45rem;
}

.client-description{
    width: 45%;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    padding: 3rem;
}

.client-central{
    padding-bottom: 3rem;
}

.client-central>img{
    width: 65%;
}

.client-description>p{
    padding-top: 3rem;
}

#designit-box{
    background-color: #a2d39b;
}
#asu-box{
    background-color: #61082b;
}
#uf-box{
    background-color: #0093ce;
}
#topps-box{
    background-color: #ff1c1c;
}
#bicycle-box{
    background-color: #d5001f;
}
#hearst-box{
    background-color: #b4d0e7;
}
#planet-box{
    background-color: #0d2481;
}
#outdoor-box{
    background-color: #ffd830;
}

/* Main - business-trial */

.business-trial{
    background-color: #b4d0e7;
    color: #61082b;
    width: 100%;
}

.trial-container{
    justify-content: space-between;
}

/* Main - faq-container */

.faq-container{
    align-items: flex-start;
    width: 100%;
}

.faq-list{
    padding: 3rem;
}

.faq-list>li{
    padding: 3rem;
}

/* Footer */

footer{
    flex-wrap: wrap;
    background-color: #000000;
}

.footer-nav{
    color: white;
    justify-content: space-between;
    width: 100%;
    padding-top: 5rem;
}

.footer-nav-list>ul>li{
    padding-bottom: 2rem;
}

.language-selection{
    width: 100%;
    padding: 3rem 0;
    justify-content: flex-start;
    color: white;
}

#lang-select{
    background-color: black;
    color: white;
    border: none;
    padding-left: 1rem;
}