*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.box-large{
    max-width: 70%;
}

.box-slim{
    max-width: 60%;
    margin: 0 auto;
}

/* Header */
header{
    width: 100%;
    height: 83px;
    border: black solid 1px;
}

.header-nav>div{
    width: 30%;
}

/* Main - Jumbotron */
.jumbotron{
    background-color: #b4d0e7;
}

.jumbotron-content{
    flex-wrap: wrap;
}

.jumbotron-content h1{
    width: 100%;
}

.jumbotron-trial{
    width: 30%;
}

.jumbotron-pic{
    width: 70%;
}

.jumbotron-pic>img{
    width: 100%;
}

/* Main - Subscription Plans */

.subscription-plans{
    padding: 3rem 0;
}

.plans-tabs{
    flex-wrap: wrap;
    justify-content: space-between;
}

.plans-tabs>article{
    width: calc((100% / 3) - 2rem);
    border: grey solid 1px;
}

.plans-tabs>.plan-team{
    width: 100%;
}

/* Main - Partners */

.partners{
    justify-content: flex-start;
    padding: 3rem 0;
}

.partners-img{
    width: 60%
}

.partners-img>img{
    width: 100%
}

.partner-contact{
    width: 30%;
}



.business-feature{
    width: 30%
}

.feat-img img{
    width: 100%;
}